* {
  margin: 0;
  padding: 0;
}
* body header nav {
  background: #265135;
}
* body header nav .nav-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 15px;
  align-items: center;
}
* body header nav .nav-container .nav-logo a img {
  border: 4px solid skyblue;
  border-radius: 50%;
}
* body header nav .nav-container .nav-manu ul li {
  display: inline;
  margin: 10px;
}
* body header nav .nav-container .nav-manu ul li a {
  text-decoration: none;
  color: skyblue;
  font-size: 25px;
}
* body header nav .nav-container .nav-manu ul li a:hover {
  color: #FFBEA0;
  font-size: 30px;
  transition: all 0.2s ease-in-out;
}
* body main .hero-container {
  width: 100%;
  height: 600px;
  margin-bottom: 20px;
}
* body main .hero-container .hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./image/IMG-20220508-WA0007.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
* body main .hero-container .hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
* body main .hero-container .hero-text h1 {
  font-size: 40px;
}
* body main .hero-container .hero-text button {
  margin: 8px;
  padding: 14px 16px;
  border: none;
  border-radius: 5px;
  background-color: tomato;
  color: white;
  font-size: 15px;
}
* body main .hero-container .hero-text button:hover {
  font-size: 20px;
  font-weight: bold;
  background-color: rgb(252, 67, 34);
}
* body main .gallery-container {
  text-align: center;
  padding: 10px;
}
* body main .gallery-container h2 {
  margin-bottom: 15px;
}
* body main .gallery-container .card-container {
  background-color: rgba(0, 0, 0, 0.322);
  padding: 50px;
  border-radius: 8px;
  margin-top: 25px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-around;
  gap: 10px;
}
* body main .gallery-container .card-container .card {
  text-align: start;
  background-color: white;
  border: 2px solid gray;
  padding: 15px;
  border-radius: 8px;
}
* body main .gallery-container .card-container .card h4 {
  padding: 15px 0px;
}
* body main .gallery-container .card-container .card img {
  width: 100%;
}
* body main .gallery-container .card-container .card:hover {
  margin: -20px;
  z-index: 1;
  box-shadow: 5px 5px 10px black;
  gap: 20px;
}
* body footer {
  margin-top: 40px;
  padding: 20px;
  color: white;
  background-color: #831D29;
  text-align: center;
}
* body footer .footer-elements {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 40px;
  align-items: center;
}
* body footer .footer-elements h4 {
  font-size: 20px;
  margin-bottom: 8px;
}
* body footer .footer-elements ul li {
  display: inline;
  margin: 5px;
}
* body footer .footer-elements ul li a {
  text-decoration: none;
  color: #63B9D2;
}
* body footer .footer-elements ul li a:hover {
  color: #B1D5A7;
  font-size: 25px;
}
* body footer .footer-elements textarea {
  padding: 10px;
  border-radius: 5px;
}
* body footer .footer-elements input {
  margin-top: 10px;
  color: #0BA7D7;
  font-weight: bold;
  background-color: #FFBEA0;
  padding: 10px 14px;
  border: none;
  border-radius: 5px;
}
* body footer .footer-elements input:hover {
  color: #265135;
  font-size: 20px;
  font-style: italic;
}
* body footer small {
  color: white;
}

@media screen and (max-width: 576px) {
  body header nav .nav-container {
    flex-direction: column;
  }
  body header nav .nav-container .nav-logo a img {
    text-align: center;
  }
  body header nav .nav-container .nav-manu ul li {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  body main .hero-container {
    height: 200px;
  }
  body main .hero-container .hero-image .hero-text h1 {
    font-size: 30px;
  }
  body main .gallery-container .card-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}/*# sourceMappingURL=style.css.map */